@media(min-width: 451px) and (max-width: 900px) {
    .header_name_and_logo {
        margin-top: 20px;
        margin-left: 25px;
        gap: 15px;
        align-items: center;
    }
}
@media(max-width: 450px) {
    .header_name_and_logo {
        margin-top: 10px;
        margin-left: 10px;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
}
@media(max-width: 1280px) and (min-width: 900px) {
    .header_name_and_logo {
        gap: 15px;
    }
}

@media(min-width: 1280px){
    .header_name_and_logo {
        gap: 20px;
    }
}

.header_name_and_logo {
    display: flex;
}