*::before,
*::after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: 0;
    list-style: none;
}


section {
    /* padding: 100px 0; */

}


a {
    text-decoration: none;
    color: #292929;
}

html,
body {
    height: 100%;
    line-height: 1;
    font-family: "OpenSans";
    color: #292929;
}


.container {
    width: 100%;
    margin: 0 auto;
}

.direction_title {
    font-size: 61px;
}



.card {
    width: 381px;
}

.my-card {
    max-width: 381px;
    /*     height: 480px; */
    display: flex;
    align-items: center;
    justify-content: start;
    margin-bottom: 50px;
}

.modal-title_e {
    text-align: center;
    font-weight: 700;
}

@media (max-width: 992px) {
    .container {
        max-width: 900px;
    }
}

@media screen and (max-width: 468px) {
    .my-card {
        padding: 0 10px;
    }

    .card-title_2 {
        font-size: 16px;

        font-weight: bold;
    }

    .card-title {
        font-size: 16px;

    }

    .card-body {
        max-width: 355px;
    }

    li {
        font-size: 14px;

    }

    .card-text {
        font-size: 14px;

    }

}

.card-body {
    width: inherit;
    padding: 0rem 2rem;
    /* вот тут если что ширину сделаль */

}

.card-title {
    font-weight: bold;
    margin: 35px 0px;
}

.card-title_2 {


    font-weight: bold;
    margin: 35px 0px;
}

.card-title_3 {

    margin: 35px 20px;
}

.card-text {}

.div-btn {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 30px;
    left: 0;
    right: 0;
    margin: 0 auto;


}

.my-btn {
    grid-area: button;
    padding: 3px;

    padding-left: 20px;
    padding-right: 20px;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 400;
    color: black;
    border: 2px solid #9079C0;
    border-radius: 11px;
}


.modal-header {
    justify-content: center;
}

.my-modal {
    border: 5px solid #9079C0;
    border-radius: 36px;
}


@media(max-width: 568px) {
    .direction_title {
        font-size: 52px;
    }
}

.section {
    margin-bottom: 100px;

}

.marg {
    padding-top: 15px;
    padding-bottom: 25px;
}

.my-li {
    list-style-type: disc;
    padding-bottom: 5px;
}

.my-li_2 {
    list-style-type: disc;
    padding-bottom: 3px;
}

/* .card-title_2 {

    margin: 20px 0px;
} */



@media(max-width: 450px) {
    .card-body {
        padding: 0rem 2rem;



    }

    .card-title {}
}
