/*Обнуление стилей*/
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: #292929;
}

html,
body {
    height: 100%;
    line-height: 1;
    font-family: "OpenSans";
    color: #292929;
}

.modal-body {
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
}

.personInfoLink {
    text-align: center;
    font-weight: 500;
}

.modal-title {
    text-align: center;
    font-weight: 700;
    /* padding-left: 20%; если подключить, то заголовок встанет криво */
}

.cont_icon {
    width: 17px;
    margin-right: 7px;
}

.cont_element {
    display: flex;
    justify-content: center;
}

.bigPresentation_title {
    transform: translate(0px, 130%);
    opacity: 0;
    transition: all 1s ease 0s;

    font-family: "OpenSansBold";
    text-align: center;
}

.bigPresentation_title._active {
    transform: translate(0px, 0px);
    opacity: 1;
}

.bigPresentation_smallText {
    transform: translate(0px, 130%);
    opacity: 0;
    transition: all 1s ease 0s;

    color: #868686;
    text-align: center;
}

.card_photo {
    margin: 15px auto;
}

.bigPresentation_smallText._active {
    transform: translate(0px, 0px);
    opacity: 1;
    transition: all 1s ease 0.5s;
}

.one_item_list li {
    list-style-image: url("./images/listTriangle.svg");
}

.two_item_list li {
    list-style-image: url("./images/listTriangle.svg");
}

.carousel_preview {
    display: flex;
    justify-content: center;
}

.carousel_left_btn,
.carousel_right_btn {
    background-color: #fff;
}

.card {
    background-color: #fff;
    min-height: 360px;
}

.slider {
    overflow: hidden;
}

.slider_line {
    display: flex;
    transition: all ease 1s;
}

.partners {
    background-color: #A689E4;
}

.partners_line {
    display: flex;
    overflow: hidden;
}


@media(min-width: 451px) and (max-width: 900px) {

    .bigPresentation {
        min-height: 500px;
        display: flex;
        flex-direction: column;
        margin-top: 150px;
    }

    .bigPresentation_title {
        font-size: 45px;
        margin-bottom: 30px;
        line-height: 1.4em;
    }

    .bigPresentation_smallText {
        font-size: 20px;
    }

    .main_blocks {
        display: flex;
        justify-content: space-evenly;
    }

    .main_block_one {
        display: flex;
        flex-direction: column;
        background-image: url(./images/mainPage/5.svg);
        background-size: 70%;
        background-repeat: no-repeat;
        gap: 20px;
    }

    .one_caption {
        padding-bottom: 20px;
        font-size: 30px;
    }

    .one_item {
        min-height: 200px;
        margin-left: 70px;
    }

    .one_item_list li {
        padding-bottom: 17px;
    }

    .main_block_two {
        display: flex;
        flex-direction: column;
        background-image: url(./images/mainPage/8.svg);
        background-size: 75%;
        background-repeat: no-repeat;
        gap: 20px;
    }

    .two_caption {
        padding-bottom: 20px;
        font-size: 30px;
    }

    .two_item {
        min-height: 200px;
        margin-left: 70px;
    }

    .two_item_list li {
        padding-bottom: 15px;
        line-height: 1.7rem;
        max-width: 250px;
    }

    .carousel_left_btn img,
    .carousel_right_btn img {
        max-width: 70%;
    }

    .carousel_faces {
        padding-top: 5px;
        margin-right: 20px;
        margin-left: 20px;
        font-size: 30px;
    }

    .carousel_preview {
        margin-top: 120px;
        margin-bottom: 30px;
    }

    .slider {
        margin: 0 10px 180px 10px;
    }

    .card {
        max-width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 3px solid #A689E4;
        border-radius: 9px;
        margin: 20px;
        min-height: 455px;
    }

    .card_photo {
        max-width: 90%;
        background-color: #bbbaba;
        /* margin-top: 15px;
        margin-bottom: 15px; */
        border-radius: 8px;
    }

    .card_name,
    .card_position {
        margin: 0 7px 10px 7px;
        text-align: center;
    }

    .card_name {
        font-size: 22px;
    }

    .card_position {
        font-size: 15px;
        color: #292929;
    }

    .partner_logo {
        margin: 10px 30px;
    }

    .partners_title {
        text-align: center;
        font-size: 30px;
        margin: 120px 0 30px 0;
    }


}

@media(max-width: 450px) {

    .bigPresentation {
        min-height: 300px;
        display: flex;
        flex-direction: column;
        margin-top: 60px;
    }

    .bigPresentation_title {
        font-size: 26px;
        margin-left: 10px;
        margin-bottom: 18px;
        line-height: 1.1em;
    }

    .bigPresentation_smallText {
        font-size: 15px;
    }

    .main_block_one {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-image: url(./images/mainPage/5.svg);
        background-size: 40%;
        background-repeat: no-repeat;
        gap: 20px;
        margin-bottom: 50px;
    }

    .one_caption {
        padding-top: 20px;
        margin-right: 80px;
    }

    .one_item {
        min-height: 200px;
    }

    .one_item_list li {
        padding-bottom: 15px;
    }

    .main_block_two {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-image: url(./images/mainPage/8.svg);
        background-size: 60%;
        background-repeat: no-repeat;
        gap: 20px;
        margin-bottom: 50px;
    }

    .two_caption {
        padding-top: 20px;
        margin-right: 80px;
    }

    .two_item {
        min-height: 200px;
        margin-left: 50px;
    }

    .two_item_list li {
        padding-bottom: 15px;
        line-height: 1.2rem;
    }

    .carousel_left_btn img,
    .carousel_right_btn img {
        max-width: 70%;
    }

    .carousel_faces {
        padding-top: 5px;
        margin-right: 20px;
        margin-left: 20px;
        font-size: 23px;
    }

    .carousel_preview {
        margin-top: 100px
    }

    .slider {
        margin-left: 10px;
        margin-right: 10px
    }

    .card {
        max-width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 3px solid #A689E4;
        border-radius: 7px;
        margin: 20px;
        min-height: 453px;
    }

    .card_photo {
        max-width: 90%;
        background-color: #bbbaba;
        margin: 10 auto 15 auto;
        /* margin-top: 10px;
        margin-bottom: 15px; */
        border-radius: 6px;
    }

    .card_name,
    .card_position {
        margin: 0 7px 10px 7px;
        text-align: center;
    }

    .card_position {
        font-size: 14px;
    }

    .partner_logo {
        margin: 10px 20px;
    }

    .partners_title {
        text-align: center;
        margin: 120px 0 30px 0;
    }
}

@media(max-width: 1280px) and (min-width: 900px) {


    .bigPresentation {
        min-height: 600px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 30px;
    }

    .bigPresentation_title {
        font-size: 350%;
        line-height: 1.2em;
    }

    .bigPresentation_smallText {
        font-size: 120%;
    }

    .main_blocks {
        display: flex;
        justify-content: space-evenly;
        margin-bottom: 150px;
    }

    .main_block_one {
        display: flex;
        flex-direction: column;
        background-image: url(./images/mainPage/5.svg);
        background-size: 70%;
        background-repeat: no-repeat;
        gap: 20px;
    }

    .one_caption {
        font-size: 30px;
    }

    .one_item {
        min-height: 200px;
        margin-left: 65px;
    }

    .one_item_list li {
        padding-left: 5px;
        padding-bottom: 10px;
    }

    .main_block_two {
        display: flex;
        flex-direction: column;
        background-image: url(./images/mainPage/8.svg);
        background-size: 75%;
        background-repeat: no-repeat;
        gap: 20px;
    }

    .two_caption {
        padding-bottom: 20px;
        font-size: 30px;
    }

    .two_item {
        min-height: 200px;
        margin-left: 65px;
    }

    .two_item_list li {
        padding-left: 5px;
        padding-bottom: 10px;
        line-height: 1.7rem;
        max-width: 250px;
    }

    .carousel_left_btn img,
    .carousel_right_btn img {
        max-width: 70%;
    }

    .carousel_faces {
        margin-right: 20px;
        margin-left: 20px;
        font-size: 30px;
    }

    .carousel_preview {
        margin-bottom: 30px;
    }

    .slider {
        margin: 0 10px 180px 10px;
    }

    .card {
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 3px solid #A689E4;
        border-radius: 9px;
        margin: 0 10px 0 10px;
        min-height: 380px;
        /*        412*/
    }

    .card_photo {
        max-width: 90%;
        background-color: #bbbaba;
        /* margin-top: 15px;
        margin-bottom: 15px; */
        border-radius: 8px;
    }

    .card_name,
    .card_position {
        margin: 0 7px 10px 7px;
        text-align: center;
        line-height: 1.2em;
    }

    .card_name {
        font-size: 20px;
    }

    .card_position {
        font-size: 13px;
        color: #292929;
    }

    .partner_logo {
        margin: 10px 20px;
    }

    .partners_title {
        text-align: center;
        font-size: 30px;
        margin: 120px 0 30px 0;
    }

}

@media(min-width: 1280px) {

    .bigPresentation {
        min-height: 650px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 60px;
        margin-bottom: 200px;
    }

    .bigPresentation_title {
        font-size: 70px;
        line-height: 1.2em;
    }

    .bigPresentation_smallText {
        font-size: 160%;
        font-weight: bold;
    }

    .main_blocks {
        display: flex;
        justify-content: space-evenly;
        margin-bottom: 250px;
        gap: 10%;
    }

    .main_block_one {
        display: flex;
        flex-direction: column;
        background-image: url(./images/mainPage/5.svg);
        background-size: 64%;
        background-repeat: no-repeat;
        gap: 40px;
        padding-left: 7%;
        padding-top: 6%;
        padding-bottom: 100px;
    }

    .one_caption {
        font-size: 360%;
    }

    .one_item {
        margin-left: 65px;
    }

    .one_item_list li {
        padding-left: 5px;
        padding-bottom: 30px;
        min-width: 130%;
        font-size: 28px;
        margin-left: 20%;
    }

    .main_block_two {
        display: flex;
        flex-direction: column;
        background-image: url(./images/mainPage/8.svg);
        background-size: 45%;
        background-repeat: no-repeat;
        gap: 40px;
        padding-top: 6%;
        padding-bottom: 100px;
        padding-right: 20%;
    }

    .two_caption {
        font-size: 360%;
        margin-left: 20%;
    }

    .two_item {
        min-height: 200px;
        margin-left: 65px;
    }

    .two_item_list li {
        padding-left: 5px;
        padding-bottom: 30px;
        font-size: 28px;
        min-width: 120%;
        margin-left: 35%;
    }

    .two_item_list_too_long {
        line-height: 40px;
    }

    .carousel_left_btn img,
    .carousel_right_btn img {
        max-width: 100%;
    }

    .carousel_faces {
        margin: 0 80px 0 80px;
        font-size: 360%;
        padding-bottom: 15px;
    }

    .carousel_preview {
        margin-bottom: 68px;
    }

    .slider {
        margin: 0 10px 180px 10px;
    }

    .card {
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 3px solid #A689E4;
        border-radius: 20px;
        margin: 0 15px 0 15px;
        min-height: 490px;
    }

    .card_photo {
        max-width: 90%;
        background-color: #bbbaba;
        margin: 20px auto 20px auto;
        border-radius: 15px;
    }

    .card_name,
    .card_position {
        margin: 0 7px 10px 7px;
        text-align: center;
        line-height: 1.2em;
    }

    .card_name {
        font-size: 28px;
    }

    .card_position {
        font-size: 18px;
        color: #292929;
        padding-bottom: 15px;
    }

    .partner_logo {
        margin: 10px 40px;
    }

    .partners_title {
        text-align: center;
        font-size: 360%;
        margin: 280px 0 50px 0;
    }

}

@font-face {
    font-family: "OpenSans";
    src: url("./OpenSans/OpenSans-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "OpenSansSemiBold";
    src: url("./OpenSans/OpenSans-SemiBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "OpenSansBold";
    src: url("./OpenSans/OpenSans-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}